body.dark {
  /* Gray Colors */
  --gray-50: #1b1b1e;
  --gray-100: #3b3c3f;
  --gray-200: #595a5d;
  --gray-300: #6d6e71;
  --gray-400: #95969a;
  --gray-500: #b5b6b9;
  --gray-600: #d9dadd;
  --gray-700: #e8e9ed;
  --gray-800: #f1f2f6;
  --gary-900: #f8f8f8;

  /* Primary Colors */
  --primary: #dff1ff;

  /* Background, Border, Font Colors */
  --bg-1: #0a0b0d;
  --text-color: #ffffff;
  --border-color: #efefef;
  --code-highlight-color: #282c34;

  --deckgo-highlight-code-background: #282c34;
  --deckgo-highlight-code-border-radius: 0.6rem;
  --deckgo-highlight-code-padding: 0.8rem;
  --deckgo-highlight-code-carbon-color: rgb(171, 178, 191);
  --deckgo-highlight-code-token-atrule: #c678dd;
  --deckgo-highlight-code-token-comment: #5c6370;
  --deckgo-highlight-code-token-comment-rgb: 92, 99, 112;
  --deckgo-highlight-code-token-function: #e5c07b;
  --deckgo-highlight-code-token-operator: #56b6c2;
  --deckgo-highlight-code-token-property: #56b6c2;
  --deckgo-highlight-code-token-punctuation: rgb(171, 178, 191);
  --deckgo-highlight-code-token-regex: #98c379;
  --deckgo-highlight-code-token-selector: #e06c75;
}
