body.dark {
  /* Gray Colors */
  --gray-50: #1b1b1e;
  --gray-100: #3b3c3f;
  --gray-200: #595a5d;
  --gray-300: #6d6e71;
  --gray-400: #95969a;
  --gray-500: #b5b6b9;
  --gray-600: #d9dadd;
  --gray-700: #e8e9ed;
  --gray-800: #f1f2f6;
  --gray-900: #ffffff

  /* Primary Colors */
  --primary-50: #1b1e3c;
  --primary-100: #00239c;
  --primary-200: #3f6da5;
  --primary-300: #b3daff;
  --primary-400: #d5ecfd;
  --primary-500: #f3faff;

  /* Background, Border, Font Colors */
  --background-color: #1b1e3c;
  --text-color: #ffffff;
  --border-color: #ffffff;
}
