body.dark {
  /* Gray Colors */
  --gray-100: #1b1b1e;
  --gray-200: #434343;
  --gray-300: #595a5d;
  --gray-400: #6d6e71;
  --gray-500: #95969a;
  --gray-600: #b5b6b9;
  --gray-700: #d9dadd;
  --gray-800: #efefef;
  --gray-900: #f1f2f6;

  /* Primary Colors */
  --primary: #dff1ff;

  /* Background, Border, Font Colors */
  --bg-1: #0a0b0d;
  --bg-2: #2c3539;
  --text-color: #ffffff;
  --border-color: #efefef;
}
