body {
  /* Gray Colors */
  --gray-50: #ffffff;
  --gray-100: #f1f2f6;
  --gray-200: #e8e9ed;
  --gray-300: #d9dadd;
  --gray-400: #b5b6b9;
  --gray-500: #95969a;
  --gray-600: #6d6e71;
  --gray-700: #595a5d;
  --gray-800: #3b3c3f;
  --gray-900: #1b1b1e;

  /* Primary Colors */
  --primary-50: #f3faff;
  --primary-100: #def1ff;
  --primary-200: #b3daff;
  --primary-300: #3f6da5;
  --primary-400: #00239c;
  --primary-500: #1b1e3c;

  /* Background, Border, Font Colors */
  --background-color: #ffffff;
  --text-color: #1b1e3c;
  --border-color: #e8e9ed;
}
