body {
  /* Gray Colors */
  --gary-50: #f8f8f8;
  --gray-100: #f1f2f6;
  --gray-200: #e8e9ed;
  --gray-300: #d9dadd;
  --gray-400: #b5b6b9;
  --gray-500: #95969a;
  --gray-600: #6d6e71;
  --gray-700: #595a5d;
  --gray-800: #3b3c3f;
  --gray-900: #1b1b1e;

  /* Primary Colors */
  --primary: #006cba;

  /* Background, Border, Font Colors */
  --bg-1: #ffffff;
  --bg-2: #f4f3f3;
  --text-color: #14162a;
  --border-color: #e8e9ed;
}
