@import '../../style/variables.scss';

.table-of-content-wrap {
  position: fixed;
  top: 210px;
  right: 50px;
}

.table-of-content {
  ul li {
    list-style: none;
  }

  p {
    line-height: 1;
    margin-bottom: $spacing6;
  }

  a {
    font-family: Pretendard-Light;
    font-size: $fontSize-s;
    text-decoration: none;
    border: none;
  }
}

@media (max-width: 1480px) {
  .table-of-content {
    display: none;
  }
}
