
/* Gray */
$S50:  #f8f9fc;
$S100: #f1f2f6;
$S200: #e8e9ed;
$S300: #d9dadd;
$S400: #b5b6b9;
$S500: #95969a;
$S600: #6d6e71;
$S700: #595a5d;
$S800: #3b3c3f;
$S900: #1b1b1e;

/* Colors */
$Blue:   #2291ff;
$Pink:   #fa6dcf;
$Orange: #fa8a38;
$Yellow: #ffc107;
$Green:  #39cc52;
$Red:    #f55d5c;

/* Background, Border, Font Colors */

/* Light */
$light-bg: #ffffff;
$light-text: #000000;
$light-border: #000000;

/* Light */
$light-bg: #000000;
$light-text: #ffffff;
$light-border: #ffffff;
