$Spacing0:     0rem;
$Spacing1:     0.1rem;
$Spacing2:     0.2rem;
$Spacing4:     0.4rem;
$Spacing6:     0.6rem;
$Spacing8:     0.8rem;
$Spacing10:    1.0rem;
$Spacing12:    1.2rem;
$Spacing16:    1.6rem;
$Spacing20:    2rem;
$Spacing24:    2.4rem;
$Spacing32:    3.2rem;
$Spacing40:    4rem;
$Spacing64:    6.4rem;
