@import '@/style/variables.scss';

.react-switch-bg {
  font-weight: bold;
  font-size: $fontSize-s;

  > div {
    text-align: center;
    align-content: center;
  }

  .icon {
    align-content: center;

    &.checked {
      color: $bg1;
    }
  }
}
