@import '../../style/variables.scss';

.react-switch-bg {
  font-size: 1rem;

  > div {
    text-align: center;
    align-content: center;
  }

  .icon {
    align-content: center;

    &.checked {
      color: $background-color;
    }
  }
}
