@import '../../style/variables.scss';

.react-switch-bg {
  font-size: 1rem;
  font-weight: bold;

  > div {
    text-align: center;
    align-content: center;
  }

  .icon {
    align-content: center;

    &.checked {
      color: $bg-1;
    }
  }
}
