/* Gray Colors */
$S50: #f8f9fc;
$S100: #f1f2f6;
$S200: #e8e9ed;
$S300: #d9dadd;
$S400: #b5b6b9;
$S500: #95969a;
$S600: #6d6e71;
$S700: #595a5d;
$S800: #3b3c3f;
$S900: #1b1b1e;

/* Primary Colors */
$P50: #f1faff;
$P10: #a3abbd;
$P200: #517cb6;
$P300: #0f4c81;
$P400: #004174;
$P500: #000f3c;

/* Background, Border, Font Colors */
$bg1: --bg1;
$bg2: --bg2;
$textColor: --textColor;
$borderColor: --borderColor;

/* Spacing */
$Spacing0: 0rem;
$Spacing1: 0.1rem;
$Spacing2: 0.2rem;
$Spacing4: 0.4rem;
$Spacing6: 0.6rem;
$Spacing8: 0.8rem;
$Spacing10: 1rem;
$Spacing12: 1.2rem;
$Spacing16: 1.6rem;
$Spacing20: 2rem;
$Spacing24: 2.4rem;
$Spacing32: 3.2rem;
$Spacing40: 4rem;
$Spacing64: 6.4rem;
