/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: Pretendard-Regular;
  font-size: $fontSize-s;
  color: $text-color;
  background-color: $background-color;
}

footer {
  padding: $spacing6 $spacing0;
}

hr {
  background-color: $border-color;
  height: 1px;
  border: 0;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Pretendard-Bold;
  color: inherit;
  margin-top: $spacing12;
  margin-bottom: $spacing6;
  line-height: $lineHeight-tight;
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: inherit;
}

h1 {
  font-weight: 900;
  font-size: $fontSize-xxxl;
  color: inherit;
}

h2 {
  font-size: $fontSize-xxl;
}

h3 {
  font-size: $fontSize-xl;
}

h4 {
  font-size: $fontSize-l;
}

h5 {
  font-size: $fontSize-m;
}

h6 {
  font-size: $fontSize-s;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */
p {
  line-height: $lineHeight-relaxed;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin-bottom: $spacing8;
  padding: $spacing0;
}

ul,
ol {
  margin-left: $spacing0;
  margin-right: $spacing0;
  padding: $spacing0;
  margin-bottom: $spacing8;
  list-style-position: outside;
  list-style-image: none;
  list-style: none;
}

ul li,
ol li {
  padding-left: $spacing0;
  margin-bottom: calc($spacing8 / 2);
}

li > p {
  margin-bottom: calc($spacing8 / 2);
}

li *:last-child {
  margin-bottom: $spacing0;
}

li > ul {
  margin-left: $spacing8;
  margin-top: calc($spacing8 / 2);
}

blockquote {
  color: inherit;
  margin-left: calc(-1 * $spacing6);
  margin-right: $spacing8;
  padding-right: $spacing6;
  border-left: $spacing1 $P400;
  font-size: $fontSize-l;
  font-style: italic;
  margin-bottom: $spacing8;
}

blockquote > :last-child {
  margin-bottom: $spacing0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: $spacing8;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid $border-color;
}

/* Link */
a {
  color: $text-color;
}

/* Button */
button.icon {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  background-color: $background-color;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: $spacing4;
}

/* Media queries */
@media (max-width: 42rem) {
  blockquote {
    padding-right: $spacing4;
    margin-left: $spacing0;
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
