code[class*='language-'],
pre[class*='language-'] {
  color: $text-color;
  background: none;
  font-family: Pretendard-Regular;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: $S200;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: $S200;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'] {
  background: $S100;
  font-family: Pretendard-Medium;
  padding: $spacing2;
  margin: 0 $spacing1;
  border-radius: $spacing4;
}

pre[class*='language-'] {
  background: $bg2;
  padding: $spacing12;
  border-radius: $spacing10;
}

.token.namespace,
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.prolog,
.token.doctype,
.token.cdata,
.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted,
.token.punctuation,
.token.deleted,
.token.operator,
.token.entity,
.token.url,
.language-css,
.token.function,
.token.atrule,
.token.attr-value,
.style .token.string {
  color: $text-color;
}

.token.comment,
.token.keyword,
.token.string,
.token.class-name {
  color: $S500;
}

.token.regex,
.token.important,
.token.variable {
  color: $text-color;
}

.token.important,
.token.bold {
  font-family: Pretendard-Bold;
}

.token.italic {
  font-family: Pretendard-Light;
  font-style: italic;
}

.token.entity {
  cursor: help;
}
