@import 'variables.scss';

@import './theme/light.scss';
@import './theme/dark.scss';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Pretendard-Regular;
  color: $text-color;
  background-color: $bg-1;
}

button.icon {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  background-color: $bg-1;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: $Spacing4;
}

.react-switch-bg {
  font-size: 1rem;
  font-weight: bold;

  > div {
    text-align: center;
    align-content: center;
  }

  .icon {
    align-content: center;

    &.checked {
      color: $bg-1;
    }
  }
}
