@import './theme/light.scss';
@import './theme/dark.scss';

@import 'variables.scss';

@import 'font.scss';
@import 'base.scss';

/* Custom classes */
.post-list-item {
  display: flex;
  border-top: 0.1rem solid $border-color;
  padding: $spacing16 0;
  align-items: center;

  p {
    margin-bottom: $spacing0;
    color: $S500;
  }

  h5 {
    font-weight: 600;
    margin-bottom: $spacing2;
    margin-top: $spacing0;
  }

  .left {
    flex: 1;
    max-width: 10rem;
    padding: $spacing10;
  }

  .right {
    flex: 1;
  }

  .date {
    font-size: $fontSize-m;
    color: $S500;
  }
}

.tag-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: $spacing16 0;
}
