@import 'variables.scss';

@import './theme/light.scss';
@import './theme/dark.scss';

@import 'font.scss';
@import 'base.scss';

body {
  font-family: Pretendard-Regular;
  font-size: 1rem;
  color: $text-color;
  background-color: $bg-1;
}

a {
  color: $P400;
  text-decoration: none;
}

button.icon {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  background-color: $bg-1;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: $Spacing4;
}

.bold {
  font-family: Pretendard-Bold;
}
