/* Gray Colors */
$S50: #f8f9fc;
$S100: #f1f2f6;
$S200: #e8e9ed;
$S300: #d9dadd;
$S400: #b5b6b9;
$S500: #95969a;
$S600: #6d6e71;
$S700: #595a5d;
$S800: #3b3c3f;
$S900: #1b1b1e;

/* Primary Colors */
$P50: #f3faff;
$P100: #def1ff;
$P200: #b3daff;
$P300: #8cb4f2;
$P400: #517cb6;
$P500: #668fcb;
$P600: #3f6da5;
$P700: #0f4c81;

/* Background, Border, Font Colors */
$bg-1: var(--bg-1);
$bg-2: var(--bg-2);
$text-color: var(--text-color);
$border-color: var(--border-color);

/* Spacing */
$Spacing0: 0rem;
$Spacing1: 0.1rem;
$Spacing2: 0.2rem;
$Spacing4: 0.4rem;
$Spacing6: 0.6rem;
$Spacing8: 0.8rem;
$Spacing10: 1rem;
$Spacing12: 1.2rem;
$Spacing16: 1.6rem;
$Spacing20: 2rem;
$Spacing24: 2.4rem;
$Spacing32: 3.2rem;
$Spacing40: 4rem;
$Spacing64: 6.4rem;

/* Screen Size */
$max-width: 30rem;
