@import '@/style/variables.scss';

.layout-header {
  display: flex;
  flex: 1;
  max-width: $max-width;
  margin: $spacing20 auto;
  padding: 0 $spacing12;
  align-items: center;

  .left-section {
    flex: 1;

    .logo {
      font-family: BMYEONSUNG;
      text-decoration: none;
      font-size: $fontSize-m;
      font-weight: bold;
      color: $text-color;
    }
  }

  .right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    .category-list {
      display: flex;
      list-style: none;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .category-item {
      background: $background-color;
      padding: 0 $spacing12;
      margin: 0;
      cursor: pointer;

      > a {
        font-family: BMYEONSUNG;
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}

.layout-main {
  max-width: $max-width;
  margin: $spacing24 auto $spacing16 auto;
  padding: 0 $spacing10;

  .main-content {
    margin: $spacing20 0;
  }
}

.layout-footer {
  color: $S500;
  font-size: $fontSize-s;
  text-align: center;
  padding: $spacing4 $spacing8;
}
