@import '../style/variables.scss';

header {
  display: flex;
  flex: 1;
  max-width: $max-width;
  margin: $Spacing8 auto 0 auto;
  align-items: center;

  .left-section {
    flex: 1;

    .logo {
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: bold;
      color: $bg-2;
    }
  }

  .right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    .category-list {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0 auto;
      align-items: center;
    }

    .category-item {
      background: $bg-1;
      padding: 0 $Spacing12;
      margin: 0;
      cursor: pointer;
    }
  }
}

main {
  max-width: $max-width;
  margin: 0 auto;
}

footer {
  border-top: 1px solid $bg-2;
  padding: $Spacing1 $Spacing8;
  text-align: center;
}
